@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.ask-section {
    width: 100%;
    padding: 10px 12%;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
    font-family: "Outfit", sans-serif;
}

.ask-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ask-title {
    font-size: max(4vw, 36px);
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

.ask-description {
    max-width: 640px;
    margin: 20px auto 30px;
    /* font-size: 1.1em; */
    color: white;
    font-family: "Outfit", sans-serif;
}

.ask-question {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f7f7f7;
    font-size: 1em;
    color: #333;
    margin-bottom: 20px;
    resize: none;
    height: 80px;
    outline: none;
}

.ask-answer {
    width: 100%;
    min-height: 100px;
    height: 180px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    font-size: 1em;
    color: #333;
    overflow-y: auto;
    margin-bottom: 20px;
}

.ask-button {
    font-size: 1em;
    padding: 15px 32px;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #09005c;
    color: white;
    border: 1.5px solid white;
    border-radius: 50px;
    margin: 10px auto 5px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.ask-button:hover {
    background-color: #06004a;
}

.button-icon {
    width: 16px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}